# Ignore the python virtual environment 
venv/
*/venv/
newenv/

# Ignore the node package from react
node_modules/

# Ignore other bin dependencies
ffmpeg/
rhubarb/
mediamtx.exe

# Ignore others
.vscode/
__pycache__/
python/

## Ignore the rest ##
# 1. chatbot 
models/
data/

# 2. Gesture System 
checkpoints/
splitted_datasets/
.sources/
.archive/

# 3. react 
public/
puppeteer-cache/
puppeteer-data/


# 4. experiment_metric
metric_tests/
ms_macro/
experiment_metric/boxgate_metric/reports
experiment_metric/boxgate_metric/*.pkl

# 5. TTS outputs
outputs_xtts/