# Ignore the python virtual environment 
venv/
*/venv/
newenv/

# Ignore the node package from react
node_modules/

# Ignore other bin dependencies
ffmpeg/
rhubarb/
mediamtx.exe

# Ignore others
.vscode/
__pycache__/
python/
python_379/
.env
.env.local
react_avatar/.env.local

## Ignore the rest ##
# 1. chatbot 
models/
data/

# 2. Gesture System 
checkpoints/
splitted_datasets/
.sources/
.archive/
*.pkl

# 3. react 
react_avatar/public/animations/
react_avatar/public/audios/
react_avatar/public/json/
react_avatar/public/models/
react_avatar/public/products/
puppeteer-cache/
puppeteer-data/


# 4. experiment_metric
metric_tests/
ms_macro/
experiment_metric/boxgate_metric/reports
experiment_metric/boxgate_metric/*.pkl

# 5. TTS outputs
outputs_xtts/
outputs_zipvoice/


#### END OF FYP ####


# Ignore MacOS files
.DS_Store
